* {
  /*outline: 1px solid red !important;*/
  font-family: Calibri;
}
body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  margin: 0;
}

a {
  color: #00b7ff;
}

.temperature-card, .humidity-card, .signalR-status-div {
  color: beige;
  background-color: deepskyblue;
  border-radius: 25px;
  padding: 5px;
  /* margin: 25px; */
  /* min-width: 300px; */
  /* max-width: 1000px; */
  /* min-height: 200px; */
  /* max-height: 1000px; */
  font: bold 25px Calibri;
  text-align: center;
}

.title {
  color: darkred;
  background-color: limegreen;
  border-radius: 30px;
  padding: 5px;
  /* max-width: 1100px; */
  text-align: center;
  grid-area: header;
}

.css-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas:
    "header header"
    "status outTemp"
    "bedHumidity bedTemp"
    "livHumidity livTemp";
}

h1 {
  font-size: 1em;
}

h1.title {
  font-size: 2em;
}
#signalR-status-data {
  font-size: 1em;
}

.temperature-data, .humidity-data {
  font-size: 2em;
}

.container-fluid {
  display: none;
}

@media (min-width: 1200px) {
  .css-grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header header header header header"
      "status bedHumidity bedTemp livHumidity livTemp outTemp";
  } 
  .container-fluid {
    display: block;
  }
  h1 {
    font-size: 1.25em;
  }
  #signalR-status-data {
    font-size: 2em;
  }
}

/* .temperature-data, .humidity-data {
  font-size: 3em; 
}

#signalR-status-data {
  font-size: 2em;
} */

.signalR-status-div {
  background-color: darkred;
}

.connected {
  background-color: green;
}

.signalR-status-div {
  grid-area: status
}

#outdoor-temperature-card {
  grid-area: outTemp;
}

#bedroom-humidity-card {
  grid-area: bedHumidity;
}

#bedroom-temperature-card {
  grid-area: bedTemp;
}

#living-room-humidity-card {
  grid-area: livHumidity;
}

#living-room-temperature-card {
  grid-area: livTemp;
}

p {
  margin: 0 0 10px;
}