* {
  /*outline: 1px solid red !important;*/
  font-family: Calibri;
}

body {
  padding: 10px;
  margin: 0;
}

a {
  color: #00b7ff;
}

.temperature-card, .humidity-card, .signalR-status-div {
  color: beige;
  background-color: deepskyblue;
  border-radius: 25px;
  padding: 5px;
  font: bold 25px Calibri;
  text-align: center;
}

.title {
  color: darkred;
  background-color: limegreen;
  border-radius: 30px;
  padding: 7px 5px;
  text-align: center;
  grid-area: header;
  font-size: 1.75em;
  margin: 5px;
}

.css-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas: "header header" "status outTemp" "bedHumidity bedTemp" "livHumidity livTemp";
}

h1 {
  font-size: 1em;
}

#signalR-status-data {
  font-size: 1em;
}

.temperature-data, .humidity-data {
  font-size: 2em;
}

@media (min-width: 1200px) {
  .css-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: "header header header" "status bedHumidity livHumidity" "outTemp bedTemp livTemp ";
  }
  h1 {
    font-size: 1.25em;
  }
  .title {
    font-size: 2.5em;
  }
  #signalR-status-data {
    font-size: 2em;
  }
}

.signalR-status-div {
  background-color: darkred;
}

.connected {
  background-color: green;
}

.signalR-status-div {
  grid-area: status
}

#outdoor-temperature-card {
  grid-area: outTemp;
}

#bedroom-humidity-card {
  grid-area: bedHumidity;
}

#bedroom-temperature-card {
  grid-area: bedTemp;
}

#living-room-humidity-card {
  grid-area: livHumidity;
}

#living-room-temperature-card {
  grid-area: livTemp;
}

p {
  margin: 0 0 10px;
}

#updated-banner {
  background-color: darkred;
  color: limegreen;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 25px 5px;
  text-align: center;
  font-size: 1.75em;
}